<header>
<div id="btnContainer">
    <button class="btn btn-grid" [ngClass]="{'active': isGridView}" (click)="gridView()"><i class="fa fa-th-large"></i></button>
    <button class="btn btn-list" [ngClass]="{'active': isListView}" (click)="listView()"><i class="fa fa-bars"></i></button> 
    <span class="price-filter">
        <label for="price-filter"> </label>
        <select id="price-filter" (change)="onFilterChange($event.target)">
            <option value="lowToHigh">Price: Low to High</option>
            <option value="highToLow">Price: High to Low</option>
        </select>
    </span>
</div>
</header>
<div class="container">
    <ng-container *ngFor="let item of items">
        <app-grid-item [isListView]="isListView" [item]="item"></app-grid-item>
    </ng-container>
</div>